<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Home</title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
	
</head>

<body>

	<header id="site_head">
		<div class="header_cont">
		<h1><a href="#">aakkriti</a></h1>
		<nav class="head_nav">
		<ul>
			<li class="twitter"><a href="http://twitter.com/aakritiagupta">follow me</a></li>
			</ul>
		</nav>
		
		<h3>Of code and more.</h3>
		</div>
	</header>

	
<div id="links">
<nav class="site_nav">
			<ul>
			      <li class="about"><a href="about.html">about</a></li>
			      <li class="blog"><a href="https://aakritigupta.wordpress.com">blog</a></li>
	
			      <li class="contact"><a href="contact/contact.html">contact</a></li>
			</ul>
</nav>
</div>

	<div class="short_vertical_line">
	
	<div id="main_content"><!--useful to create the 960px limit-->

		<section class="about">
	
	
		<div class="about_right">
			<p>Hi, this is Aakriti Gupta. I am a student, developer and an open source enthusiast.</p>
			<p> I am currently a junior undergraduate at Dhirubhai Ambani Institute of Information and Communication Technology. A Google Summer of Code student in 2011, I have been contributing to KDE since then.</p>
			<p>In life I have learnt to face challenges, figuring things out myself and giving value to even little things that matter to me.</p>
			<p>Thanks for reading!</p>
			
			</div>
		</section>		
		
		
		
		
	</div>
</div>
	

</body>

</html>
